@use 'colors';

.header {
    padding: 8px 0;
    background-color: colors.$colorBlack;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            display: block;
            justify-content: center;
            text-align: center;
        }

        &__logo {
            max-height: 72px;

            @media (max-width: 768px) {
                max-height: 80px;
                margin-bottom: 8px;
            }
        }

        &__button {
            background-color: colors.$colorBlack;
            width: 200px;

            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 16px;
            }

            &:hover {
                border: 2px solid colors.$colorMain;
                color: colors.$colorMain;
                font-weight: 500;
            }
        }
    }
}