@use 'colors';

.hero {
    background-image: url(../../dist/images/hero-john-wick-v2.png);
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: colors.$colorBg;
    padding-bottom: 48px;

    @media (max-width: 1279px) {
        background-image: url(../../dist/images/hero-john-wick-mobile.png);
    }

    &__container {
        align-items: center;
        text-align: center;

        &__title {
            max-width: 100%;
            margin-top: 45vh;
            margin-bottom: 36px;

            @media (max-width: 1023px) {
                max-width: 90%;
                margin-top: 35vh;
            }
        }

        &__end {
            max-width: 100%;
            margin-top: 36px;
        }
    }
}