.hero {
    background-image: url(../../dist/images/hero-john-wick.jpg);
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #1b1b1b;
    padding-bottom: 48px;

    &__container {
        align-items: center;
        text-align: center;

        &__title {
            max-width: 100%;
            margin-top: 50vh;
            margin-bottom: 36px;
        }

        &__end {
            max-width: 100%;
            margin-top: 36px;
        }
    }
}