.movies {
    background-color: #1b1b1b;
    padding: 48px 0;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            align-items: center;

            &__img {
                width: 100%;
                margin-bottom: 16px;
                border-radius: 8px;
            }

            &__button {
                background-color: #1b1b1b;
                width: 100%;
                margin-bottom: 16px;

                &:hover {
                    border: 2px solid white; 
                    font-weight: 500;
                }

                &--main {
                    border: 1px solid orangered !important;
                    color: orangered !important;
                    
                    &:hover {
                        border: 2px solid orangered !important; 
                        font-weight: 500 !important;
                    }
                }
            }
        }
    }
}